.cart-container{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10px;
    position: relative;
    padding: 1.5em;
}
.cart-block{
    margin-top: 2em;
}
.order-button{
    position: absolute;
    bottom: 0.5em;
    
}

.cart-button-order{
    background-color: black;
    color: white;
}

@media screen and (max-width:840px) {
    .cart-container{
        width: 50%;
        margin-top: 1em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: 10px;
        position: relative;
        padding: 1.5em;
        position: relative;
    }
}